
@import url('https://fonts.cdnfonts.com/css/herr-von-muellerhoff');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Herr+Von+Muellerhoff&display=swa');

                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: start;
   
}


.logo img{
width: 400px;
height: 220px;
}


nav{
    background-color:#8CA38B;
}

nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover{
    background-color: #C4D4AB;
}


.barra-menu{
    position:absolute;
    box-shadow: 0 0 2px #8CA38B;
    display: none;
   
}



.barra-menu a{
display: block;
color: black;

}

.barra:hover .barra-menu{
    display: block;
    background-color: beige;
}



.titulo{
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Herr Von Muellerhoff', serif;
    font-size: 20px;
    color:#000000;
}


.pro{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 200px;

}

.pro img{
    width: 50%;
    height: 380px;
    margin: 30px;
    border-radius: 150px;
    border: 1px solid #000000;
   
}

.subt{
   text-decoration: underline;
    text-align: start;
    margin-left: 50px;
    font-family: 'Herr Von Muellerhoff', serif;
    font-size: 20px;
    color: #000000;
}






   

  
.flex-qua{
    display: flex;
    justify-content: flex-start;
    
}
.texto{
    background-color: #C4D4AB;
    width: 400px;
    height: 210px;
    padding: 50px;
    margin: 10px;
    font-family: 'Alice', serif;
    border-radius:15px;
}

.p1{
    width: 20rem;
    height: 20rem;
    background-color: #EBE7E0;
    padding: 20px;
     margin: 20px;
     text-align: center;
     font-family:  'Alice', serif;
     font-size: 10px;
     border: 2px solid #000000;
}
.p1 img{
    width: 75%;
    height: 75%;
    margin: 35px;
    justify-content: center;
    align-items: center;
  
}

h4{
font-family: 'Alice', serif;
font-size: 20px;


}

.flex-p{
    display: flex;
    justify-content: center;


}

.flex-po{
    display: grid;
    justify-content: center;
    margin: 220px;
    grid-template-columns: 400px 400px 400px;  
    


}


    footer {
        position: absolute;
        background-color: #C4D4AB;
        height: 50px;
        width: 100%;
        align-items: center;
        text-align:center ;
    }


    .Persefone{
     font-family: 'Herr Von Muellerhoff', serif;
     font-size: 40px;
     padding: 50px;
     margin: 20px;
     text-decoration: underline;
     background-color: #C4D4AB;
     height: 20px;
     border-radius: 15px;
    }

    .pro5{
        display: flex;
        justify-content: center;
     
        width: 100%;
        height: 200px;
    
    }

    .pro5 img{
        width: 100%;
        height: 300px;
        margin: 30px;
        border-radius: 50px;
        border: 1px solid #000000;
       
    }

    .sobre{
        background-color: white;
        width: 300px;
        padding: 20px;
        margin: 20px;
        border-radius: 15px;
        font-family:'Alice', serif; 
    }
    
    h2{
        font-family:'Herr Von Muellerhoff', serif;
        font-size: 40px;
        text-align:center;
        text-decoration: underline;

      
      background-color: #C7B6BE;
      border-radius: 50px;
      margin: 20px;
      width: 20rem;
      height: 6rem;
    }

.procura-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    background: beige;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

} 

.procura-b{
    color: #C7B6BE;

}


.form_grupo {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}
.form_grupo .legenda { 
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.submit { width:100%; float:left; }
.submit_btn {
    
    display: block;
    padding: 5px 30px;
    border: none;
    background-color:#C4D4AB;
    color: #fff;
    text-decoration-color: 0 0 5px rgb(0, 0, 0);
    font-family: 'Alice', serif;
    font-size: 20px;
    font-family:'Alice', serif;
    
    border-radius: 20px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}

.cada{
    width: 20rem;
    height: 20rem;
    background-color: #8CA38B;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin: 50px;
}

.form_grupo {
    width: 100%;
    margin-bottom: 32px;
    position: relative;
    justify-items: center;
    
}